# Loading Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import os

# Preparing data for vector embeddings

In [9]:
base_dir = os.path.join('..', 'data')
tmdb_df = pd.read_csv(base_dir+'/processed_data/tmdb_content_processed.csv')

In [10]:
tmdb_df.head()

,title,release_date,revenue,runtime,imdb_id,original_language,overview,production_companies,spoken_languages,plot_summary,plot_synopsis,genres,cast,directors,averageRating,numVotes,release_year,release_month,release_day
0,Inception,2010-07-15,825532764,148,1375666,English,"Cobb, a skilled thief who commits corporate es...","Legendary Pictures, Syncopy, Warner Bros. Pict...","English, French, Japanese, Swahili","Dom Cobb is a skilled thief, the absolute best...","Dominick ""Dom"" Cobb (Leonardo DiCaprio) and bu...","Action, Adventure, Sci-Fi, Thriller","Leonardo DiCaprio, Joseph Gordon-Levitt, Ellio...",Christopher Nolan,8.8,2681459,2010,7,15
1,Interstellar,2014-11-05,701729206,169,816692,English,The adventures of a group of explorers who mak...,"Legendary Pictures, Syncopy, Lynda Obst Produc...",English,In the near future around the American Midwest...,"In the future, crop blight has caused civiliza...","Adventure, Drama, Sci-Fi","Ellen Burstyn, Matthew McConaughey, Mackenzie ...",Christopher Nolan,8.7,2342692,2014,11,5
2,The Dark Knight,2008-07-16,1004558444,152,468569,English,Batman raises the stakes in his war on crime. ...,"DC Comics, Legendary Pictures, Syncopy, Isobel...","English, Mandarin",Set within a year after the events of Batman B...,A gang of 6 criminals rob a Gotham City mob ba...,"Action, Crime, Drama, Thriller","Christian Bale, Heath Ledger, Aaron Eckhart, M...",Christopher Nolan,9.0,3018672,2008,7,16
3,Avatar,2009-12-15,2923706026,162,499549,English,"In the 22nd century, a paraplegic Marine is di...","Dune Entertainment, Lightstorm Entertainment, ...","English, Spanish","When his brother is killed in a robbery, parap...","In 2154, humans have depleted Earth's natural ...","Action, Adventure, Fantasy, Sci-Fi","Sam Worthington, Zoe Salda単a, Sigourney Weaver...",James Cameron,7.9,1430332,2009,12,15
4,The Avengers,2012-04-25,1518815515,143,848228,English,When an unexpected enemy emerges and threatens...,Marvel Studios,"English, Hindi, Russian","Loki, the adopted brother of Thor, teams-up wi...",The Asgardian Loki (Tom Hiddleston) encounters...,"Action, Sci-Fi","Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",Joss Whedon,8.0,1507612,2012,4,25

Data Analysis

In [11]:
# Count movies per original language and sort in descending order
language_counts = tmdb_df['original_language'].value_counts()

# Get top 10 languages
top_10_languages = language_counts.head(10)


# Display counts
print("\nTop 10 languages by number of movies:")
print(top_10_languages)

Top 10 languages by number of movies:
original_language
English     7904
Hindi        672
French       403
Japanese     234
Spanish      228
Tamil        163
Korean       162
Chinese      144
German       131
Telugu       102
Name: count, dtype: int64

Creating dataset for content based recommendation

In [14]:
df_temp = tmdb_df[['imdb_id', 'title', 'release_date', 'plot_synopsis', 'genres', 'cast', 'directors']].copy()

In [15]:
df_temp[['genres', 'cast', 'directors']] = df_temp[['genres', 'cast', 'directors']].apply(lambda col: col.str.replace(r'(?<=\w)\s+(?=\w)', '', regex=True))

In [16]:
# Combine the columns into a single column called 'wordsoup', limiting cast to top 10
df_temp['wordsoup'] = df_temp['plot_synopsis'] + ' ' + df_temp['genres'] + ' ' + df_temp['cast'].apply(lambda x: ', '.join(x.split(',')[:10])) + ' ' + df_temp['directors']

In [17]:
df_temp.head()

,imdb_id,title,release_date,plot_synopsis,genres,cast,directors,wordsoup
0,1375666,Inception,2010-07-15,"Dominick ""Dom"" Cobb (Leonardo DiCaprio) and bu...","Action, Adventure, Sci-Fi, Thriller","LeonardoDiCaprio, JosephGordon-Levitt, ElliotP...",ChristopherNolan,"Dominick ""Dom"" Cobb (Leonardo DiCaprio) and bu..."
1,816692,Interstellar,2014-11-05,"In the future, crop blight has caused civiliza...","Adventure, Drama, Sci-Fi","EllenBurstyn, MatthewMcConaughey, MackenzieFoy...",ChristopherNolan,"In the future, crop blight has caused civiliza..."
2,468569,The Dark Knight,2008-07-16,A gang of 6 criminals rob a Gotham City mob ba...,"Action, Crime, Drama, Thriller","ChristianBale, HeathLedger, AaronEckhart, Mich...",ChristopherNolan,A gang of 6 criminals rob a Gotham City mob ba...
3,499549,Avatar,2009-12-15,"In 2154, humans have depleted Earth's natural ...","Action, Adventure, Fantasy, Sci-Fi","SamWorthington, ZoeSalda単a, SigourneyWeaver, S...",JamesCameron,"In 2154, humans have depleted Earth's natural ..."
4,848228,The Avengers,2012-04-25,The Asgardian Loki (Tom Hiddleston) encounters...,"Action, Sci-Fi","RobertDowneyJr., ChrisEvans, MarkRuffalo, Chri...",JossWhedon,The Asgardian Loki (Tom Hiddleston) encounters...

In [18]:
# Convert to lowercase and remove extra spaces
df_temp['wordsoup'] = df_temp['wordsoup'].str.lower().str.strip().replace(r'\s+', ' ', regex=True)

# Display the updated DataFrame
df_temp[['wordsoup']].head()

                                            wordsoup
0  dominick "dom" cobb (leonardo dicaprio) and bu...
1  in the future, crop blight has caused civiliza...
2  a gang of 6 criminals rob a gotham city mob ba...
3  in 2154, humans have depleted earth's natural ...
4  the asgardian loki (tom hiddleston) encounters...

In [19]:
final_df = df_temp[['imdb_id', 'title', 'wordsoup']].copy()
final_df.head()

   imdb_id            title                                           wordsoup
0  1375666        Inception  dominick "dom" cobb (leonardo dicaprio) and bu...
1   816692     Interstellar  in the future, crop blight has caused civiliza...
2   468569  The Dark Knight  a gang of 6 criminals rob a gotham city mob ba...
3   499549           Avatar  in 2154, humans have depleted earth's natural ...
4   848228     The Avengers  the asgardian loki (tom hiddleston) encounters...

In [20]:
# Remove commas and special characters from the 'wordsoup' column
final_df['wordsoup'] = final_df['wordsoup'].str.replace(r'[^A-Za-z0-9\s]', '', regex=True)

# Display the updated DataFrame
final_df[['wordsoup']].head()

                                            wordsoup
0  dominick dom cobb leonardo dicaprio and busine...
1  in the future crop blight has caused civilizat...
2  a gang of 6 criminals rob a gotham city mob ba...
3  in 2154 humans have depleted earths natural re...
4  the asgardian loki tom hiddleston encounters t...

In [21]:
print(final_df['wordsoup'][0])

dominick dom cobb leonardo dicaprio and business partner arthur joseph gordonlevitt are extractors people who perform corporate espionage using an experimental military technology to infiltrate the subconscious of their targets and extract information while experiencing shared dreaming their latest target is japanese businessman saito ken watanabe the extraction from saito fails when sabotaged by a memory of cobbs deceased wife mal marion cotillard after cobbs and arthurs associate sells them out saito reveals that he was actually auditioning the team to perform the difficult act of inception planting an idea in a persons subconsciousin order to break up the energy conglomerate of ailing competitor maurice fischer pete postlethwaite saito wants cobb to plant the idea of dissolving the company into the mind of fischers heir son robert fischer cillian murphy should cobb succeed saito tells cobb he will use his influence to clear cobb of a murder charge which will allow cobb to return home and to his children cobb accepts saitos offer cobb sets about assembling his team eames tom hardy a conman and identity forger yusuf dileep rao a chemist who concocts the powerful sedative for a stable dream within a dream strategy ariadne elliot page an architecture student tasked with designing the labyrinth of the dream landscapes and arthur saito insists on accompanying the team to verify the teams successwhen the elder fischer dies in sydney robert fischer accompanies the body on a flight back to los angeles which the team uses as an opportunity to isolate fischer cobb sedates him bringing him into a shared dream with the extractors using a dream within a dream strategy at each level in the layered dreaming the person generating the dream stays behind to set up a kick that will be used to awaken the other sleeping team members who have entered another dream layer deeper due to the effects of heavy sedation and multilayered dreaming death during the mission will result in entering limbo an expanse of infinite raw subconscious limbo is a space not dreamed by any one individual but is shared space where one mind can make drastic alterations of any kindin the first level yusufs rainy downtown dream the team abducts fischer however fischers trained subconscious projections attack wounding saito severely eames temporarily takes the appearance of fischers godfather peter browning tom berenger to suggest fischer reconsider his fathers will yusuf drives the team in a van as they are sedated into the second level a hotel dreamed by arthur here the extractors recruit fischer convincing him that his kidnapping was orchestrated by browning and that they are fischers subconscious dependency in the third level a snowy mountain fortress dreamed by eames fischer is told they are in brownings subconscious but they are really going deeper into fischers yusuf under assault in the first level initiates his kick too soon by driving off a bridge removing the gravity of arthurs dream world and causing an avalanche in eames dream a kick which all missed arthur improvises a new kick using an elevator that will be synchronized with the van hitting the water while the team in eames dream races to finish the job before the new round of kickssaito succumbs to his wounds and cobbs projection of mal sabotages the entire plan by killing fischer sending them both into limbo cobb and ariadne enter limbo to find fischer and saito while eames remains on his dream level to set up a kick by rigging the fortress with explosives cobb reveals to ariadne that he spent 50 years with mal in limbo constructing a world from their shared memories while seemingly growing old together returning to the waking world cobb and mal found less than three hours had passed convinced she was still dreaming mal committed suicide and tried to persuade cobb to do so too by incriminating him in her death facing a murder charge cobb fled the us leaving his children behind ostensibly in the shared care of his mother and fatherinlaw prof stephen miles michael cainethrough his confession cobb attains catharsis and chooses to remain in limbo to search for saito ariadne pushes fischer off a balcony resuscitating him at the mountain fortress where he enters a safe room to discover and accept the planted idea that his father wishes him to be his own man and that splitting up the conglomerate might not be a radical notion all team members other than cobb and saito ride the synchronized kicks back to reality ariadne jumps off a balcony in limbo eames detonates the explosives in the fortress arthur blasts an elevator containing the teams sleeping bodies up an elevator shaft and the van in yusufs dream hits the water cobb eventually finds an aged saito in limbo and the two remember their arrangement presumably shooting themselves and waking to outerworld reality back on the airplane where the entire team and robert fischer have awakenedupon arriving in los angeles cobb successfully passes through us customs to his waiting fatherinlaw who reunites him with his children cobb attempts to determine if he is dreaming or awake by spinning a top but ignores its outcome to instead happily greet his family action adventure scifi thriller leonardodicaprio josephgordonlevitt elliotpage tomhardy kenwatanabe dileeprao cillianmurphy tomberenger marioncotillard petepostlethwaite christophernolan

In [22]:
# Save the final DataFrame to CSV
processed_data_dir = os.path.join(base_dir, 'processed_data')
final_df.to_csv(os.path.join(processed_data_dir, 'final_processed_content_data.csv'), index=False)